.return-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.return-button:hover {
    background-color: #45a049;
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}

.tab-button {
    flex: 1;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    min-width: 150px;
    width: 90%;
    border: none;
    background-color: transparent;
    font-size: 18px; /* Increased font size */
}

.tab-button.active {
    background-color: #dfeaff;
    font-weight: bold;
}

.tab-button:hover {
    background-color: #e0e0e0;
}


