.receipt-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .receipt-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .receipt-item {
    border-style: solid;
    border-color: #C0C0C0;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .claim-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .claim-button.claimed {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .claim-button:hover:not(.claimed) {
    background-color: #45a049;
  }
  