* {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.app {
    height: 100vh;
    width: 100vw;
    background: url('../images/bg.png') fixed;
    background-repeat: repeat-x;
    background-size: auto 100vh;
    background-position: bottom;
}

.bird {
    position: fixed;
    top: 45vh;
    width: 7.083vh;
    height: 5vh;
    background-image: url('../images/bird.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.pipe-top{
    position: fixed;
    /*left: 45vw;*/
    width: 10vh;
    height: 100vh;
    background-image: url('../images/pipe-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.pipe-bottom{
    position: fixed;
    /*left: 45vw;*/
    top: 55vh;
    width: 10vh;
    height: 100vh;
    background-image: url('../images/pipe-bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.gift {
    position: fixed;
    width: 7vh;
    height: 7vh;
    background-image: url('../images/gift-image.png'); 
    background-repeat: no-repeat;
    background-size: 120% 120%;
    background-position: center top;
}


img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}


.day-cell, .prev-month, .next-month {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.day-button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

.score-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    display: block;
}

.gift-message {
    position: absolute;
    transform: translateX(-50%);
    color: black;
    font-size: 20px;
    z-index: 10;
    display: "none";
    
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}