* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.app {
    height: 100vh;
    width: 100vw;
    background: url('../images/bg.png') fixed;
    background-repeat: repeat-x;
    background-size: auto 100vh;
    background-position: bottom;
}

.bird {
    position: fixed;
    top: 45vh;
    width: 7.083vh;
    height: 5vh;
    background-image: url('../images/bird.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.pipe-top{
    position: fixed;
    /*left: 45vw;*/
    width: 10vh;
    height: 100vh;
    background-image: url('../images/pipe-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.pipe-bottom{
    position: fixed;
    /*left: 45vw;*/
    top: 55vh;
    width: 10vh;
    height: 100vh;
    background-image: url('../images/pipe-bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.gift{
    position: fixed;
    width: 5vh;
    height: 5vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}
